body {
    background-color:white;
    transition:all 1s;
}


@media (min-width: 301px) {
    body {
        color:blue;
        font-size:36pt;
        font-family:Arial;
   
    }
}
@media (min-width: 101px) and (max-width: 300px) {
    body {
        color: red;
        font-size: 24pt;
        font-family: Helvetica;
    }
}
@media (max-width: 100px) {
    body {
        color: purple;
        font-size: 18pt;
        font-family: Courier;
    }
}